.App {
  text-align: center;
  background-color: #f0f0f0;
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* black borders */
  border: 1px solid black;
  /* the square is at the center of the screen */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  /* modern font */
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

h2 {
  /* same style as h1 but in the top right corner */
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
  position: absolute;
  top: 0;
  right: 3%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#start {
  /* modern button at the center of the screen */
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}